.navbar {
    background-color: rgb(238,238,238);
    border-bottom: 2px solid rgba(0, 0, 0, 0.048); 
    font-size: 1.35rem;
}

.navbar-brand {
    margin-left: 150px;
}

.navigation a {
    color: black;
}

body {
    text-align: center;
    font-size: 100%;
/**especificar font size para usar rem**/
}

.row {
    padding-top: 3rem;
    padding-bottom: 3rem;
}


h1 {
    margin-bottom: 2.3rem;
}

p {
    margin-bottom: 1.925rem;
    
}

/**
.about p:last-child{
    margin-bottom: 0%;
}
**/
.about {
    background-color: rgb(238,238,238);
}

.about p {
    padding-left: 20%;
    padding-right: 20%;
}


.nutr3 {
    margin-bottom: 1.625rem;
}

.team h1 {
    padding-top: 2rem;
}

.team p:first-child {
    padding-left: 20%;
    padding-right: 20%;
}


.team .container .row {
    padding: 0.2rem;
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: navy;
    border-color: navy;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}

.card {
    background-color: transparent;
    border-color: transparent;
}

.portfolio {
    background-color: rgb(238,238,238);
}

.portfolio p {
    padding-left: 20%;
    padding-right: 20%; 
}
.portfolio .card p {
    padding-left: 0;
    padding-right: 0; 
}

.portfolio .nav {
    margin-bottom: 1.5rem;
}

.portfolio .nav-item {
    border: rgba(78, 77, 77, 0.541) 1px solid;
    margin-left: 1rem;
    background-color: white;
}

.portfolio a {
    color: rgb(80, 78, 78);
}

.portfolio a:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.137);
    border-radius: 0;  
}

.portfolio .card {
    background-color: transparent;
    margin-bottom: 1.5rem; 
    border-color: transparent;     
}
